<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Quittungston</directory>
            <directory suffix=".php">../HM-Sec-Sir-WM</directory>
            <directory suffix=".php">../HmIP-ASIR</directory>
        </whitelist>
    </filter>
</phpunit>